<header>

  <a routerLink="/home">
    <h1 *ngIf="title"> {{ title }}</h1>
  </a>
    <!-- <nav>
        <a routerLink="/home">
          <h1 *ngIf="title"> {{ title }}</h1>
        </a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/about">About</a>
    </nav> -->
</header>

<body>
 

        <div class="container">
          

                <div class="content">
                  <router-outlet></router-outlet>
                </div>
              <div class="sidebar">
                <h2>Categories</h2>
                <div class="sidebar-item" 
                     
                     *ngFor="let category of categories"
                    >
                  {{category.name}}
                </div>
                <h2>Tags</h2>
                <div class="sidebar-item" *ngFor="let tag of tags">
                   {{tag.name}}
                </div>
            </div>
         
            
          
            
          </div>

        

    
    
   
    
</body>

<footer>
    <p> {{ footer }} </p>
</footer>