.container {
    display: grid;
    grid-template-columns: auto 200px; /* main content auto width and sidebar 200px */
    margin: auto;
    grid-gap: 16px; 
  }

    

    .sidebar {
            /* Styling for sidebar */
            display: block;
            border: 1px solid #ccc;
            padding: 16px;
            background-color: gray;
            color: white;
            font-size: 1.2em;
            max-height: fit-content;
        }
    
   .sidebar-item {
    cursor: pointer;
   }
    //footer bottom right
    footer{
        position: fixed;
        bottom: 0;
        right: 2em;
        padding: 0.5em;
        
        font-size: 1.2em;
        max-height: fit-content;

    }