<article>
    <header>
      <button type="button" (click)="goBack()">Back</button>
    </header>
    <section class="project-card">
   
      <div>
        <h2>{{ project?.title}}</h2>
        <div>{{ project?.excerpt }}</div>
        <div [innerHTML]="project?.body">{{ project?.body }}</div>
      </div>

      <div *ngIf="project?.category">
        Theme: <span>{{ project?.category?.name }}</span>
      </div>
      <div *ngIf="project?.tags?.length">
        Tags:
        <span *ngFor="let tag of project?.tags">
          {{ tag.name }}
        </span>
        </div>
    </section>
  </article>