<section id="projects">
    <div class="container">
        <div class="main-content">
            <div class="project" *ngFor="let project of projects">
                <h2>{{project.title}}</h2>
                <p>{{project.excerpt}}</p>
                <div class="cate-tag">
                    <div>
                        <p *ngIf="project.category">Category: {{project.category.name}}</p>
                    </div>
                    <div class="taglist" >
                        <p *ngIf="project.tags && project.tags.length > 0">Tags :</p>
                        <p *ngFor="let tag of project.tags">{{tag.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>


</section>